.index b{padding:0,3;color:}
.index dd{font-size:80%;}
.index dt{margin-top:5;text-indent:1em;font-size:96%}


.thread dt b{text-decoration:underline;font-size:110%}
.thread dt{margin:15px,0,5px,0;font-size:92%}
.thread dd{word-wrap:break-word;font-size:90%;line-height:120%;}
.thread dt em{color:gray;font-size:smaller;}
.thread small{color:#aaaaaa}

.PaiN {background-color:#efefef;padding-top:15px;padding-bottom:15px;padding-left:7px;padding-right:7px;border:1px dimgray dotted}
.PaiN a{color:black;text-decoration:none;}
.PaiN:hover {color:black;text-decoration:none;}

input{color:#333333;background-color:#dddddd;border:1px #333333 solid;}
textarea{color:#333333;background-color:#dddddd;border:1px #333333 solid;}

.mi{font-size:smaller;text-align:right}
.ti{background-color:#eeeeee;color:#333333;width:100%;font-size:large;padding:3px;border:1px #333333 solid;}
.ti2{background-color:#eeeeee;color:#333333;width:100%;font-size:large;padding:3px;border:1px #333333 solid;}
.box{border:1px solid;margin:10px,30px;padding:5px;font-size:75%}
.endbox{border:1px red solid;margin:10px,30px;padding:5px;font-size:75%;color:red}
.cp{position:absolute;right:2px;font-size:9px}
.cp a{COLOR:#dddddd;font-family: 'verdana,chicago,"‚l‚r ‚oƒSƒVƒbƒN",Osaka';text-decoration:none;}
.end{color:red}
.sma{font-size:80%;padding:10px}

body{
	scrollbar-face-color:#dddddd;
	scrollbar-highlight-color:#cccccc;
	scrollbar-shadow-color:#cccccc;
	scrollbar-3dlight-color:#cccccc;
	scrollbar-arrow-color:#aaaaaa;
	scrollbar-track-color:#cccccc;
	scrollbar-darkshadow-color:#cccccc;
	color:#333333;
	background-color:#ffffff;
	font-family: 'verdana,chicago,"‚l‚r ‚oƒSƒVƒbƒN",Osaka';
font-size:11pt;
}

a{COLOR:blue;text-decoration:none;font-size:96%;padding:2px;}
:visited{color:#darkgreen}
:hover {color:skyblue;text-decoration:underline;}
i{
	font-variant		:small-caps;
	font-style		:normal;
	margin			:.2em;
	color			:#00f;
}

.edt{
	background-color	:#ddd;
	color			:#fff;
}
.gst{
	background-color	:skyblue;
	color			:#fff;
}


.IP{color:#eeeeee;text-decoration:none;font-size:smaller}
.IP:hover {color:#aaaaaa;text-decoration:none;}
#num{color:#000000;text-decoration:none;}
#num:hover {color:red;text-decoration:underline;}
#ti{color:#333333;text-decoration:none;}
#ti:hover {color:white;text-decoration:underline;}
